**Loading Data into a dataframe

In [15]:
import pandas as pd
file='titanic_data.csv'
titanic=pd.read_csv(file, nrows=5)#, header=None) #this loads the file into a data frime
print(titanic.head())

   PassengerId  Pclass                                          Name     Sex  \
0          892       3                              Kelly, Mr. James    male
1          893       3              Wilkes, Mrs. James (Ellen Needs)  female
2          894       2                     Myles, Mr. Thomas Francis    male
3          895       3                              Wirz, Mr. Albert    male
4          896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female

    Age  SibSp  Parch   Ticket     Fare  Cabin Embarked
0  34.5      0      0   330911   7.8292    NaN        Q
1  47.0      1      0   363272   7.0000    NaN        S
2  62.0      0      0   240276   9.6875    NaN        Q
3  27.0      0      0   315154   8.6625    NaN        S
4  22.0      1      1  3101298  12.2875    NaN        S

In [39]:
titanic

TypeError: Indexing a Series with DataFrame is not supported, use the appropriate DataFrame column

In [25]:
titanic[:][titanic=='male']

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,NaN,NaN,NaN,male,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,male,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,male,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
titanic_array=titanic.values #this converts the pandaframe to an array
print(titanic_array)
print(type(titanic_array))

[['PassengerId' 'Pclass' 'Name' 'Sex' 'Age' 'SibSp' 'Parch' 'Ticket'
  'Fare' 'Cabin' 'Embarked']
 ['892' '3' 'Kelly, Mr. James' 'male' '34.5' '0' '0' '330911' '7.8292'
  nan 'Q']
 ['893' '3' 'Wilkes, Mrs. James (Ellen Needs)' 'female' '47' '1' '0'
  '363272' '7' nan 'S']
 ['894' '2' 'Myles, Mr. Thomas Francis' 'male' '62' '0' '0' '240276'
  '9.6875' nan 'Q']
 ['895' '3' 'Wirz, Mr. Albert' 'male' '27' '0' '0' '315154' '8.6625' nan
  'S']]
<class 'numpy.ndarray'>

data = pd.read_csv(file,                     #name of file
                   sep='\t',                 #selects the delimiter to use= \t is tab 
                   comment='#',              #this removes comments. values which begin # in this case 
                   na_values='Nothing')     #this replaces 'nothing' with NaN