Numpy can only have one data type, pandas can have multiple types.impor
Row represent 'observations'
Columns represent 'variables'

Creating data frame manually 1(from a dictionay)

In [2]:
import pandas as pd

# Dictionary of dictionaries
europe_dict = { 'spain': { 'capital':'madrid', 'population':46.77 },
           'france': { 'capital':'paris', 'population':66.03 },
           'germany': { 'capital':'berlin', 'population':80.62 },
           'norway': { 'capital':'oslo', 'population':5.084 } }

europe_df = pd.DataFrame(europe_dict) #this converts dictionay to data frame
print(europe_df)

             spain france germany norway
capital     madrid  paris  berlin   oslo
population   46.77  66.03   80.62  5.084

**Creating data from manually 2**

In [12]:
# Pre-defined lists
names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
dr =  [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]

# Import pandas as pd
import pandas as pd


# Create dictionary my_dict with three key:value pairs: my_dict
#my_dict={'names': names,'dr':dr,'cpc':cpc}
my_dict = {'country': names, 'drives_right': dr, 'cars_per_cap': cpc}
# Build a DataFrame cars from my_dict: cars
cars=pd.DataFrame(my_dict)

print(cars)


# Definition of row_labels
row_labels = ['US', 'AUS', 'JAP', 'IN', 'RU', 'MOR', 'EG']
cars.index=row_labels #this specifies the row labels
print(cars)

         country  drives_right  cars_per_cap
0  United States          True           809
1      Australia         False           731
2          Japan         False           588
3          India         False            18
4         Russia          True           200
5        Morocco          True            70
6          Egypt          True            45
           country  drives_right  cars_per_cap
US   United States          True           809
AUS      Australia         False           731
JAP          Japan         False           588
IN           India         False            18
RU          Russia          True           200
MOR        Morocco          True            70
EG           Egypt          True            45

**Creating dataframe from CSV**

In [24]:
import pandas as pd
data=pd.read_csv('data.csv', index_col=0)
print(data)

     cars_per_cap        country  drives_right
US            809  United States         False
AUS           731      Australia         False
JAP           588          Japan         False
IN             18          India          True
RU            200         Russia          True
MOR            70        Morocco          True
EG             45          Egypt          True

**Choosing Columns in a DataFrame**

This prints country coluumn as a Pandas Series

print(data['country'])

This prints coutnry column as a Panda DataFrame

print(data[['country']])

In [27]:
print(data[['country', 'drives_right']])

           country  drives_right
US   United States         False
AUS      Australia         False
JAP          Japan         False
IN           India          True
RU          Russia          True
MOR        Morocco          True
EG           Egypt          True

**Choosing Rows in a Dataframe**

In [45]:
data[0:3] #this shows first three rows in dataframe

     cars_per_cap        country  drives_right
US            809  United States         False
AUS           731      Australia         False
JAP           588          Japan         False

**Data Selection with loc and iloc**

loc is label-based, which means that you have to specify rows and columns based on their row and column labels.

iloc is integer index based, so you have to specify rows and columns by their integer index like you did in the previous exercise.

In [43]:
# Print out observation for Japan
print(data.iloc[2])
print('')
# Print out observations for Australia and Egypt
print(data.loc[['AUS','EG']])

cars_per_cap      588
country         Japan
drives_right    False
Name: JAP, dtype: object

     cars_per_cap    country  drives_right
AUS           731  Australia         False
EG             45      Egypt          True

In [41]:
#this selects one value

data.loc['IN', 'cars_per_cap']
print(data.iloc[3, 0])   #this is equiv to the line above

#this selects two rows,  and one column


data.loc[['IN', 'RU'], 'cars_per_cap']
data.iloc[[3, 4], 0]     #this is equiv to the line above

#this selects two rows and two columns

data.loc[['IN', 'RU'], ['cars_per_cap', 'country']]
data.iloc[[3, 4], [0, 1]]

18

In [44]:
# Print out drives_right column as Series

print(cars.loc[:,'drives_right'])
# Print out drives_right column as DataFrame
print(cars.loc[:,['drives_right']])

US      True
AUS    False
JAP    False
IN     False
RU      True
MOR     True
EG      True
Name: drives_right, dtype: bool
     drives_right
US           True
AUS         False
JAP         False
IN          False
RU           True
MOR          True
EG           True