# <H1> Concatenating Data (Combining Rows)

In [4]:
import pandas as pd
uber3= pd.read_csv('uber_june.csv')
uber2= pd.read_csv('uber_may.csv')
uber1= pd.read_csv('uber_april.csv')

To Concate the data (combine rows from difference csv files) we first load into seperate dataframes

we then have to use the pd.concat() function

In [5]:
row_concat = pd.concat([uber1,uber2,uber3], ignore_index=True) #the axis argument is default axis=0 for rows

#here we have combined the dataframes
#we have used ignore_index=True to not carry over the seperate indexes from each dataframe
print(row_concat.shape)
print(row_concat.head())

(297, 5)
   Unnamed: 0      Date/Time      Lat      Lon    Base
0           0  04-01-14 0:11  40.7690 -73.9549  B02512
1           1  04-01-14 0:17  40.7267 -74.0345  B02512
2           2  04-01-14 0:21  40.7316 -73.9873  B02512
3           3  04-01-14 0:28  40.7588 -73.9776  B02512
4           4  04-01-14 0:33  40.7594 -73.9722  B02512

# Combining columns of data <h1>


Below the data frames we are going to join have been created

In [6]:
ebola= pd.read_csv('ebola.csv')
ebola_melt=pd.melt(ebola, id_vars=['Date','Day'], value_name='counts',var_name='type_country')



str_split=pd.DataFrame()
str_split['str_split']=ebola_melt.type_country.str.split('_') 
str_split
status_country=pd.DataFrame()
status_country['type'] = str_split.str_split.str.get(0)
status_country['country'] = str_split.str_split.str.get(1)
print(ebola_melt.head())     #these are the two data frames we are going to join
print(status_country.head())

         Date  Day  type_country  counts
0    1/5/2015  289  Cases_Guinea  2776.0
1    1/4/2015  288  Cases_Guinea  2775.0
2    1/3/2015  287  Cases_Guinea  2769.0
3    1/2/2015  286  Cases_Guinea     NaN
4  12/31/2014  284  Cases_Guinea  2730.0
    type country
0  Cases  Guinea
1  Cases  Guinea
2  Cases  Guinea
3  Cases  Guinea
4  Cases  Guinea

LETS COMBINE SOME COLUMNS!!

In [8]:
ebola_tidy=pd.concat([ebola_melt, status_country],axis=1) #axis=1 to combine columns
ebola_tidy.to_csv('test.csv')