In [18]:
import re  #'re' library for  manipulating regular expressions e.g sequence of characters

Assesing whether a string follows a pattern

Use \$ to match the dollar sign, \d* to match an arbitrary number of digits, \. to match the decimal point, and \d{x} to match x number of digits.

Use [A-Z] to match any capital letter followed by \w* to match an arbitrary number of alphanumeric characters.

In [19]:
# Import the regular expression module
import re

# Compile the pattern: prog
prog = re.compile('\d{3}-\d{3}-\d{4}')

# See if the pattern matches
result = prog.match('123-456-7890')
print(bool(result))

# See if the pattern matches
result2 = prog.match('1123-456-7890')
print(bool(result2))

True
False

Return a list of all non-overlapping matches in the string.

In [20]:
matches=re.findall('\d+','the recipe calls for 10 strawberries and 1 banana')
print(matches)

['10', '1']

In [21]:
# Write the first pattern
pattern1 = bool(re.match(pattern='\d{3}-\d{3}-\d{4}', string='123-456-7890'))
print(pattern1)

# Write the second pattern
pattern2 = bool(re.match(pattern='\$\d*\.\d{2}', string='$123.45'))
print(pattern2)

# Write the third pattern
pattern3 = bool(re.match(pattern='A\w*', string='Australia'))
print(pattern3)

True
True
True

Customs Functions to Clean Data

In [32]:
import pandas as pd
import numpy as np

# Define recode_sex()

titanic_data=pd.read_csv('titanic_data.csv')

def recode_sex(sex):

    # Return 1 if sex_value is 'Male'
    if sex == 'male':
        return 1
    
    # Return 0 if sex_value is 'Female'    
    elif sex== 'female':
        return 0
    
    # Return np.nan    
    else:
        return np.nan

# Apply the function to the sex column
titanic_data['sex_recode'] = titanic_data.Sex.apply(recode_sex)

# Print the first five rows of tips
print(titanic_data.head())

   PassengerId  Pclass                                          Name     Sex  \
0          892       3                              Kelly, Mr. James    male
1          893       3              Wilkes, Mrs. James (Ellen Needs)  female
2          894       2                     Myles, Mr. Thomas Francis    male
3          895       3                              Wirz, Mr. Albert    male
4          896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female

    Age  SibSp  Parch   Ticket     Fare Cabin Embarked  sex_recode
0  34.5      0      0   330911   7.8292   NaN        Q           1
1  47.0      1      0   363272   7.0000   NaN        S           0
2  62.0      0      0   240276   9.6875   NaN        Q           1
3  27.0      0      0   315154   8.6625   NaN        S           1
4  22.0      1      1  3101298  12.2875   NaN        S           0

Lamdbda Functions

In [33]:
# Write the lambda function using replace
tips['total_dollar_replace'] = tips.total_dollar.apply(lambda x: x.replace('$', ''))

# Write the lambda function using regular expressions
tips['total_dollar_re'] = tips.total_dollar.apply(lambda x: re.findall('\d+\.\d+', x)[0])

# Print the head of tips
print(tips.head())

NameError: name 'tips' is not defined