Assert Statements

In [3]:
assert 1==1

In [29]:
import pandas as pd
data=pd.read_csv('titanic_data.csv')

Asserts Example 1

In [8]:
data=pd.read_csv('titanic_data.csv')

assert data.Age.notnull().all()  #this willr eturn an error if there are any missing values

AssertionError:

In [33]:
data.Age =data.Age.fillna(value=3)

assert data.Age.notnull().all()

Asserts Example 2

In [67]:
data.Age.notnull().all()

True

In [71]:
ebola=pd.read_csv('ebola.csv')

print(ebola.notnull().head())
print(ebola.notnull().all().head())
print(ebola.notnull().all().all())

#lets then drop all the empty values in the data

ebola=ebola.dropna()
# Assert that there are no missing values
assert ebola.notnull().all().all()

# Assert that all values are >= 0
#assert (ebola>=0).all().all()

   Date   Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone  Cases_Nigeria  \
0  True  True          True          False               True          False
1  True  True          True          False               True          False
2  True  True          True           True               True          False
3  True  True         False           True              False          False
4  True  True          True           True               True          False

   Cases_Senegal  Cases_UnitedStates  Cases_Spain  Cases_Mali  Deaths_Guinea  \
0          False               False        False       False           True
1          False               False        False       False           True
2          False               False        False       False           True
3          False               False        False       False          False
4          False               False        False       False           True

   Deaths_Liberia  Deaths_SierraLeone  Deaths_Nigeria  Deaths_Senegal  \
0           False                True           False           False
1           False                True           False           False
2            True                True           False           False
3            True               False           False           False
4            True                True           False           False

   Deaths_UnitedStates  Deaths_Spain  Deaths_Mali
0                False         False        False
1                False         False        False
2                False         False        False
3                False         False        False
4                False         False        False
Date                  True
Day                   True
Cases_Guinea         False
Cases_Liberia        False
Cases_SierraLeone    False
dtype: bool
False